# Preprocessing

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Diabetes Missing Data.csv")

In [3]:
dataset

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [4]:
dataset

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [5]:
dataset.isnull().sum()

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [6]:
# dividing qualitative and quantitative columns for preprocessing
quan = []
qual = []
for columnName in dataset.columns:
    if dataset[columnName].dtype=='O':
        qual.append(columnName)
    else:
        quan.append(columnName)

In [7]:
quan

['Pregnant',
 'Glucose',
 'Diastolic_BP',
 'Skin_Fold',
 'Serum_Insulin',
 'BMI',
 'Diabetes_Pedigree',
 'Age',
 'Class']

In [8]:
qual

[]

In [9]:
# finding outliers

descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%",
                                   "Q3:75%","Q4:100%","IQR","1.5 rule", "Lesser",
                                "Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5 rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5 rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5 rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()

In [10]:
descriptive

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
Mean,3.84505,121.687,72.4052,29.1534,155.548,32.4575,0.471876,33.2409,0.348958
Median,3,117,72,29,125,32.3,0.3725,29,0
Mode,1,99,70,32,105,32,0.254,22,0
Q1:25%,1,99,64,22,76.25,27.5,0.24375,24,0
Q2:50%,3,117,72,29,125,32.3,0.3725,29,0
Q3:75%,6,141,80,36,190,36.6,0.62625,41,1
Q4:100%,17,199,122,99,846,67.1,2.42,81,1
IQR,5,42,16,14,113.75,9.1,0.3825,17,1
1.5 rule,7.5,63,24,21,170.625,13.65,0.57375,25.5,1.5
Lesser,-6.5,36,40,1,-94.375,13.85,-0.33,-1.5,-1.5
Greater,13.5,204,104,57,360.625,50.25,1.2,66.5,2.5
Min,0,44,24,7,14,18.2,0.078,21,0
Max,17,199,122,99,846,67.1,2.42,81,1

In [11]:
def Finding_outliers(descriptive, quan):
    Lesser = []
    Greater = []
    for ColumnName in quan:
        if descriptive[ColumnName]["Min"] < descriptive[ColumnName]["Lesser"]:
            Lesser.append(ColumnName)
        if descriptive[ColumnName]["Max"] > descriptive[ColumnName]["Greater"]:
            Greater.append(ColumnName)
    return Lesser, Greater

In [12]:
Lesser,Greater =  Finding_outliers(descriptive, quan)

# Handling Outliers

In [13]:
Lesser

['Diastolic_BP']

In [14]:
Greater

['Pregnant',
 'Diastolic_BP',
 'Skin_Fold',
 'Serum_Insulin',
 'BMI',
 'Diabetes_Pedigree',
 'Age']

In [15]:
def Handle_outliers(dataset, descriptive, Quan):
    #Lesser, Greater = Finding_outliers(descriptive, Quan)
    for ColumnName in Lesser:
        dataset.loc[dataset[ColumnName] < descriptive[ColumnName]["Lesser"], ColumnName] = descriptive[ColumnName]["Lesser"]
    for ColumnName in Greater:
        dataset.loc[dataset[ColumnName] > descriptive[ColumnName]["Greater"], ColumnName] = descriptive[ColumnName]["Greater"]
    return dataset

In [16]:
dataset = dataset = Handle_outliers(dataset, descriptive, quan)
dataset

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50.0,1
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31.0,0
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32.0,1
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
4,0.0,137.0,40.0,35.0,168.0,43.1,1.200,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0
764,2.0,122.0,70.0,27.0,NaN,36.8,0.340,27.0,0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0
766,1.0,126.0,60.0,NaN,NaN,30.1,0.349,47.0,1
767,1.0,93.0,70.0,31.0,NaN,30.4,0.315,23.0,0

In [17]:
import numpy as np
descriptive=pd.DataFrame(index=["Mean","Median","Mode",
                                "Q1:25%","Q2:50%","Q3:75%","Q4:99%","Q5:100%",
                                "IQR","1.5Rule","Lesser","Greater","Min","Max"],columns=quan)
for ColumnName in quan:
    descriptive[ColumnName]["Mean"]=dataset[ColumnName].mean()
    descriptive[ColumnName]["Median"]=dataset[ColumnName].median()
    descriptive[ColumnName]["Mode"]=dataset[ColumnName].mode()[0]
    descriptive[ColumnName]["Q1:25%"]=dataset.describe()[ColumnName]["25%"]
    descriptive[ColumnName]["Q2:50%"]=dataset.describe()[ColumnName]["50%"]
    descriptive[ColumnName]["Q3:75%"]=dataset.describe()[ColumnName]["75%"]
    descriptive[ColumnName]["Q4:99%"]=np.percentile(dataset[ColumnName],99)
    descriptive[ColumnName]["Q5:100%"]=dataset.describe()[ColumnName]["max"]
    descriptive[ColumnName]["IQR"]= descriptive[ColumnName]["Q3:75%"]-descriptive[ColumnName]["Q1:25%"]
    descriptive[ColumnName]["1.5Rule"]=1.5*descriptive[ColumnName]["IQR"]
    descriptive[ColumnName]["Lesser"]=descriptive[ColumnName]["Q1:25%"]-descriptive[ColumnName]["1.5Rule"]
    descriptive[ColumnName]["Greater"]=descriptive[ColumnName]["Q3:75%"]+descriptive[ColumnName]["1.5Rule"]
    descriptive[ColumnName]["Min"]=dataset[ColumnName].min()
    descriptive[ColumnName]["Max"]=dataset[ColumnName].max()

In [18]:
descriptive

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
Mean,3.83724,121.687,72.3752,29.0591,146.5,32.3947,0.458914,33.1999,0.348958
Median,3,117,72,29,125,32.3,0.3725,29,0
Mode,1,99,70,32,360.625,32,1.2,22,0
Q1:25%,1,99,64,22,76.25,27.5,0.24375,24,0
Q2:50%,3,117,72,29,125,32.3,0.3725,29,0
Q3:75%,6,141,80,36,190,36.6,0.62625,41,1
Q4:99%,13,NaN,NaN,NaN,NaN,NaN,1.2,66.5,1
Q5:100%,13.5,199,104,57,360.625,50.25,1.2,66.5,1
IQR,5,42,16,14,113.75,9.1,0.3825,17,1
1.5Rule,7.5,63,24,21,170.625,13.65,0.57375,25.5,1.5
Lesser,-6.5,36,40,1,-94.375,13.85,-0.33,-1.5,-1.5
Greater,13.5,204,104,57,360.625,50.25,1.2,66.5,2.5
Min,0,44,40,7,14,18.2,0.078,21,0
Max,13.5,199,104,57,360.625,50.25,1.2,66.5,1

In [19]:
Lesser, Greater = Finding_outliers(descriptive, quan)
print("Lesser:", Lesser)
print("Greater:", Greater)

Lesser: []
Greater: []

In [20]:
dataset.isnull().sum()

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [21]:
mean_cols = ['Glucose', 'BMI']
median_cols = ['Pregnant','Diastolic_BP','Skin_Fold',
               'Serum_Insulin','Diabetes_Pedigree']

for col in mean_cols:
    dataset[col].fillna(dataset[col].mean(), inplace=True)

for col in median_cols:
    dataset[col].fillna(dataset[col].median(), inplace=True)

In [22]:
dataset.drop('Skin_Fold', axis=1, inplace=True)

In [23]:
dataset.isnull().sum()

Pregnant             0
Glucose              0
Diastolic_BP         0
Serum_Insulin        0
BMI                  0
Diabetes_Pedigree    0
Age                  0
Class                0
dtype: int64

In [24]:
dataset.to_csv("Preprocessd_data.csv",index=False)

In [25]:
dataset1=pd.read_csv("Preprocessd_data.csv")
dataset1

,Pregnant,Glucose,Diastolic_BP,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6.0,148.0,72.0,125.0,33.6,0.627,50.0,1
1,1.0,85.0,66.0,125.0,26.6,0.351,31.0,0
2,8.0,183.0,64.0,125.0,23.3,0.672,32.0,1
3,1.0,89.0,66.0,94.0,28.1,0.167,21.0,0
4,0.0,137.0,40.0,168.0,43.1,1.200,33.0,1
...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,180.0,32.9,0.171,63.0,0
764,2.0,122.0,70.0,125.0,36.8,0.340,27.0,0
765,5.0,121.0,72.0,112.0,26.2,0.245,30.0,0
766,1.0,126.0,60.0,125.0,30.1,0.349,47.0,1
767,1.0,93.0,70.0,125.0,30.4,0.315,23.0,0

In [26]:
dataset.isnull().sum()

Pregnant             0
Glucose              0
Diastolic_BP         0
Serum_Insulin        0
BMI                  0
Diabetes_Pedigree    0
Age                  0
Class                0
dtype: int64